*{
	font-family: "Monaco",Arial, Helvetica, sans-serif
}
body{
	height: 100vh;
  margin: 0;
  overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* HEADER STYLE */
#header{
	background-color: #1F2937;
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
}

.left-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

#logo{
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
}

.logo-text{
	font-size: 24px;
	font-weight: 900;
	color: #F9FAF8;
}

.right-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 30px;
	gap: 20px;
}

.link-one,
.link-two,
.link-three{
	color: #e5e7eb;
	font-size: 18px;
}

/* FOOTER STYLE */
#footer{
	color: #F9FAF8;
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
}

/* LINKS STYLE */
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}

/* HOME SECTION STYLE */
.home-container{
	background-image: url(/home/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
}

.home-left{
	width: 640px;
	margin: 30px;
	display: flex;
	flex-direction: column;
}

.home-heading{
	color: #444444;
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 10px;
}
.head-text{
	margin: 0;
	padding: 0;
}

.home-text{
	color: #444444;
	text-align: justify;
	display: flex;
	flex-wrap: wrap;
}

.home-right{
	margin: 30px;
}

video{
	height: 360px;
	width: 640px;
	border-radius: 5px;
}

/* PROGRAMMER SECTION STYLE */
.prog-container{
	background-image: url(/programmers/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 auto;
}

.prog-heading{
	font-size: 36px;
	font-weight: 900;
	color: #ffffff;
	margin: 30px 0 50px 0;
	text-align: center;
}

.item-container{
	margin: 50px 0 50px 0;
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: baseline;
	flex: 1;
	padding: 0 60px;
}

.item{
	height: 400px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.prog-images{
	height: 200px;
	width: 200px;
	border: 3px solid #444444;
	border-radius: 5px;
	margin-bottom: 10px;
}

.info{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: baseline;
 flex-wrap: wrap;
}

.name,
.book{
	color: #F9FAF8;
	font-weight: 800;
}

.book{
	text-align: center;
	display: flex;
}

/* QUOTES SECTION STYLE */
.quotes-section{
	background-image: url(/quotes/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;

}
.quotes-container{
	background-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	padding: 100px;
}

.quote{
	color:#1F2937;
	font-size: 36px;
	font-style: italic;
}

.quotemaster{
	font-weight: 700;
	display: flex;
	justify-content: end;
	margin-top: 8px;
}










/* SIGN UP SECTION STYLE */
#signup-section{
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-container{
	height: 100px;
	width:  750px;;
	background-color: #3882F6;
	border: 1px solid #3882F6;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	gap: 90px;
	align-items: center;
}

.left-container{
 display: flex;
 flex-direction: column;
}

.signup-heading{
	font-size: 18px;
	color: #F9FAF8;
	font-weight: 800;
}

.signup-text{
	color: #e5e7eb;
	
}

.right-container{
	display: flex;
 	flex-direction: column;
}

.signup-button{
	color: #F9FAF8;
	background-color: #3882F6;
	border: 2px solid #F9FAF8;
	border-radius: 5px;
	padding: 4px 16px ;
}